.jumbotron
  %h1 Secret App
  %p Example application that uses the BlockScore API to validate the user's identity in order to reveal a secret.
  %p
    = link_to 'View The Secret »', secret_path, class: 'btn btn-lg btn-primary', role: 'button'
