.jumbotron
  %h1 Welcome to the Secret App!
  %p
    Example application that uses the BlockScore API to validate the user's identity in order to reveal a secret. To get the secret, you'll have to:
    %ul
      %li
        %p Sign Up
      %li 
        %p Complete Identity Verification with Blockscore
      %li 
        %p Verify your email
      %li 
        %p Complete knowledge based authentication (Blockscore's questions)
    = link_to 'Get Started »', new_user_registration_path, class: 'btn btn-lg btn-primary', role: 'button'